# Large Datasets & Archives (do not commit GBs/MBs of CSVs or ZIPs)
*.csv
*.zip
05_Donnees_CSV/*.csv
05_Donnees_CSV/*.zip
04_Donnees_CSV/*.csv
04_Donnees_CSV/*.zip

# Temporary and log files
*.log
__pycache__/
*.pyc
.DS_Store